
progress{
width:40%;
height:5px;
color:#012e5e;
background:#ffb606;
}
body{
font-size:13pt;
background-color:#ccc;
padding:10px;
margin:0;
}

.section{
background-color:#fff;
padding:15px;
margin-bottom:20px;
margin-top:20px;
margin-left:150px;
margin-right:150px;
}
.section1{
background-color:#ccc;
margin-bottom:20px;
margin-left:150px;
}
img{
	float:left;
}
.topborder{
background-color:#012e5e;
height:100px;
margin-top:-10px;
margin-bottom:20px;
margin-left:-10px;
margin-right:-10px;
}
.bottomborder{
background-color:#012e5e;
margin-left:-10px;
margin-right:-10px;
margin-bottom:-10px;
height:150px;
margin-top:20px;
}
.a{text-align:center;}
button {
	width: 50%;
	background-color: #012e5e;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border-radius: 4px;
	cursor: pointer;
}
input[type=submit],.button{
	background-color:#ffb606;
	border:none;
	border-radious:4px;
	cursor:pointer;
	text-decoration:none;
	padding: 14px 20px;
	margin:8px 0;
	color: white;
}