<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>AnonymousAccess</filter-name>
  	<display-name>AnonymousAccess</display-name>
  	<description></description>
  	<filter-class>Filter.AnonymousAccess</filter-class>
  </filter>
  <filter>
  	<filter-name>LoggedAccess</filter-name>
  	<display-name>LoggedAccess</display-name>
  	<description></description>
  	<filter-class>Filter.LoggedAccess</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AnonymousAccess</filter-name>
  	<url-pattern>/AnonymousAccess</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>LoggedAccess</filter-name>
  	<url-pattern>/LoggedAccess</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<description></description>
  	<servlet-class>UserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogOut</servlet-name>
  	<display-name>LogOut</display-name>
  	<description></description>
  	<servlet-class>LogOut</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CookieServlet</servlet-name>
  	<display-name>CookieServlet</display-name>
  	<description></description>
  	<servlet-class>CookieServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AutheticationFilter</servlet-name>
  	<display-name>AutheticationFilter</display-name>
  	<description></description>
  	<servlet-class>Filter.AutheticationFilter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsersList</servlet-name>
  	<display-name>UsersList</display-name>
  	<description></description>
  	<servlet-class>UsersList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ErrorServlet</servlet-name>
  	<display-name>ErrorServlet</display-name>
  	<description></description>
  	<servlet-class>ErrorServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateUserSkillsServlet</servlet-name>
  	<display-name>UpdateUserSkillsServlet</display-name>
  	<description></description>
  	<servlet-class>UpdateUserSkillsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateUserContactsServlet</servlet-name>
  	<display-name>UpdateUserContactsServlet</display-name>
  	<description></description>
  	<servlet-class>Servlets.UpdateUserContactsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateSkillsServlet</servlet-name>
  	<display-name>UpdateSkillsServlet</display-name>
  	<description></description>
  	<servlet-class>Servlets.UpdateUserSkillsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateSkills</servlet-name>
  	<display-name>UpdateSkills</display-name>
  	<description></description>
  	<servlet-class>Servlets.UpdateSkills</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOut</servlet-name>
  	<url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CookieServlet</servlet-name>
  	<url-pattern>/CookieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AutheticationFilter</servlet-name>
  	<url-pattern>/AutheticationFilter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsersList</servlet-name>
  	<url-pattern>/UsersList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ErrorServlet</servlet-name>
  	<url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserSkillsServlet</servlet-name>
  	<url-pattern>/UpdateUserSkillsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserContactsServlet</servlet-name>
  	<url-pattern>/UpdateUserContactsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateSkillsServlet</servlet-name>
  	<url-pattern>/UpdateSkillsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateSkills</servlet-name>
  	<url-pattern>/UpdateSkills</url-pattern>
  </servlet-mapping>
  <error-page>
  <error-code>404</error-code>
  <location>/ErrorServlet</location>
  </error-page>
  <error-page>
  <error-code>403</error-code>
  <location>/ErrorServlet</location>
  </error-page>
  <error-page>
  <error-code>500</error-code>
  <location>/ErrorServlet</location>
  </error-page>
  <error-page>
  <exception-type>javax.servlet.ServletException</exception-type>
  <location>/ErrorServlet</location>
  </error-page>
  <error-page>
  <exception-type>java.io.IOException</exception-type>
  <location>/ErrorServlet</location>
  </error-page>
</web-app>
