p{padding:0;margin:0;}
body{
text-align: center;
color: #012e5e;
margin-top:20px;
margin-bottom:20px; 
}
input{
border:1px solid #ccc;
border-radius:4px;
box-sizing:border-box;
background-color:#f4f4f4;
padding:12px 20px;
width:100%;
margin:8px 0;
dusplay:inline-block;
}
.section{
padding:40px;
background-color:#ffb606;
margin-left:100px;
margin-right:80px;
}
button{
	width:50%;
	background-color:#012e5e;
	color:white;
	padding:14px 20px;
	margin:8px 0;
	border-radius:4px;
	cursor:pointer;
}